mixin slider({ min= 0, max= 100, step= 1, type= "single", orientation= 'horizontal', direction= 'ltr', from= 50, to, withRange= true, withThumb= true, withScale= true }={})
  .slider.js-slider(
    data-min= min
    data-max= max
    data-step= step
    data-type= type
    data-orientation= orientation
    data-direction= direction
    data-from= from
    data-to= to
    data-with-range= `${withRange}`
    data-with-thumb= `${withThumb}`
    data-with-scale= `${withScale}`
  )